<h2 class="header">SIGN IN</h2>
<form cForm>
  <div class="mb-3">
    <label cLabel for="emailAddress">Email Address</label>
    <input cFormControl id="emailAddress" type="email">
  </div>
  <div class="mb-3">
    <label cLabel for="password">Password</label>
    <input cFormControl id="password" type="password">
  </div>
  <a routerLink="/auth/register">Don't have an account? Register!</a>
  <div class="action">
    <button cButton
            color="primary">
      Sign In
    </button>
  </div>
</form>
