<h2 class="header">SIGN IN</h2>
<form cForm>
  <div class="mb-3">
    <label cLabel for="emailAddress">Email Address</label>
    <input cFormControl name="emailAddress" type="email" [(ngModel)]="payload.emailAddress">
  </div>
  <div class="mb-3">
    <label cLabel for="password">Password</label>
    <input cFormControl name="password" type="password" [(ngModel)]="payload.password">
  </div>
  <a routerLink="/auth/register">Don't have an account? Register!</a>
  <div class="action">
    <button cButton
            color="primary"
            [disabled]="isBusy"
            (click)="login()">
      Sign In
    </button>
  </div>
</form>
