<h2 class="auth-header">SIGN IN</h2>
<form cForm>
  <c-alert
    fade
    dismissible
    color="danger"
    [(visible)]="hasError">
    {{ errorMessage }}
  </c-alert>

  <div class="mb-3">
    <label cLabel>Email Address</label>
    <input cFormControl name="emil-address" type="email" [(ngModel)]="payload.emailAddress">
  </div>
  <div class="mb-3">
    <label cLabel>Password</label>
    <input cFormControl name="password" type="password" [(ngModel)]="payload.password">
    <div cFormText style="text-align: end">
      <a routerLink="/auth/forgot-password">forgot password?</a>
    </div>
  </div>

  <a class="auth-link" routerLink="/auth/register">Don't have an account? register now!</a>

  <div class="auth-action-row">
    <button cButton
            color="primary"
            [disabled]="isBusy"
            (click)="login()">
      Sign In
    </button>
  </div>
</form>
