<div>
  <c-header>
    <div class="issue-header-row">
      <button cButton variant="ghost" color="dark" (click)="goBack()">
        <svg [cIcon]="icons.cilArrowLeft"></svg>
        Back
      </button>
      <h3>Issue Details</h3>
    </div>
  </c-header>

  <div class="loading" *ngIf="isLoading">
    <c-spinner color="primary" variant="grow"></c-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="!issue">
      <c-callout color="danger">
        The issue you are trying to view does not exist or you do not have permissions to view it.
      </c-callout>
    </ng-container>

    <ng-container *ngIf="issue">
      <c-container>
        <div class="action-row" *ngIf="transitionAvailable()">
          <button cButton *ngIf="canBeMarkedAsDuplicated()"
                  color="secondary"
                  shape="rounded-pill"
                  style="margin-right: 10px"
                  (click)="showDuplicateModal()">
            <svg [cIcon]="icons.cilObjectUngroup"></svg>
            Mark As Duplicate
          </button>
          <button cButton *ngIf="(!isTenant && canAdminTransition()) || (isTenant && canTenantTransition())"
                  color="success"
                  shape="rounded-pill"
                  style="color: white"
                  (click)="showTransitionModal()">
            <svg [cIcon]="icons.cilChevronDoubleRight"></svg>
            {{ getTransitionButtonText() }}
          </button>
        </div>

        <div class="issue">
          <div>Code: {{ issue.code }}</div>
          <div>Facility: <span>{{ issue.facilityName }}</span></div>
          <div>Status:
            <c-badge [color]="getIssueColour(issue.status)">{{ mapIssueStatusToText(issue.status) | uppercase }}
            </c-badge>
          </div>
          <div>Description: <span>{{ issue.description }}</span></div>
          <div>Location: <span>{{ issue.location }}</span></div>
          <div>Remedial Actions Taken: <span>{{ issue.remedialAction || '(None)' }}</span></div>
          <div>Occurred At: <span>{{ issue.occurredAt | date: 'dd MMM yyyy h:mm aa' }}</span></div>
        </div>
      </c-container>

      <ng-container *ngIf="issue?.repairer">
        <c-container>
          <c-header>
            <h5>Repairer</h5>
          </c-header>

          <div class="issue">
            <div>Name: <span>{{ issue.repairer?.name || 'N/A' }}</span></div>
            <div>Name: <span>{{ issue.repairer?.phoneNumber || 'N/A' }}</span></div>
          </div>
        </c-container>
      </ng-container>

      <c-container>
        <c-header>
          <h5>Documents</h5>
        </c-header>

        <div class="action-row">
          <button cButton (click)="showDocumentModal()">
            <svg [cIcon]="icons.cilCloudUpload"></svg>
            <ng-container *ngIf="isTenant">
              Provide Evidence
            </ng-container>
            <ng-container *ngIf="!isTenant">
              Upload Document
            </ng-container>
          </button>
        </div>

        <ng-container *ngIf="!documents.length">
          <c-callout color="success">
            No documents/evidence have been uploaded for this issue.
          </c-callout>
        </ng-container>

        <ng-container *ngIf="documents.length">
          <table cTable [striped]="true">
            <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">Type</th>
              <th scope="col">Size</th>
              <th scope="col">Uploaded At</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let document of documents">
              <tr>
                <td>{{ document.fileName }}</td>
                <td>{{ mapDocumentTypeToText(document.type) }}</td>
                <td>{{ document.fileSize | filesize }}</td>
                <td>{{ document.createdAt | date : 'MMM d, y h:mma' }}</td>
                <td>
                  <button cButton
                          color="dark"
                          variant="ghost"
                          cPopover="Download File"
                          cPopoverPlacement="left"
                          [cPopoverTrigger]="'hover'"
                          (click)="downloadFile(document)">
                    <svg [cIcon]="icons.cilCloudDownload" size="lg"></svg>
                  </button>
                  |
                  <button cButton
                          color="danger"
                          variant="ghost"
                          cPopoverPlacement="bottom"
                          [cPopover]="popoverHtml"
                          [cPopoverTrigger]="'click'">
                    <svg [cIcon]="icons.cilTrash" size="lg"></svg>
                  </button>
                  <ng-template #popoverHtml>
                    <h3 class="popover-header">
                      Confirm Delete
                    </h3>
                    <div class="popover-body">
                      <p>Are you sure you want to delete this file? This action is permanent and cannot be reversed!</p>
                      <div style="text-align: end">
                        <c-button-group size="sm" style="text-align: end">
                          <button cButton color="secondary">Cancel</button>
                          <button cButton color="danger" (click)="deleteDocument(document)">Proceed</button>
                        </c-button-group>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>
      </c-container>
    </ng-container>
  </ng-container>
</div>


<c-modal backdrop="static" [(visible)]="isNewDocModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Add Issue Document</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <c-alert
        fade
        dismissible
        color="danger"
        [(visible)]="hasError">
        {{ errorMessage }}
      </c-alert>

      <div class="mb-3">
        <label cLabel>Document Type</label>
        <select cSelect name="document-type" class="mb-3" [(ngModel)]="newDocPayload.type">
          <option value="IssueEvidence">Issue Evidence</option>
          <ng-container *ngIf="!isTenant">
            <option value="RefundProof">Refund Proof</option>
          </ng-container>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="mb-3">
        <label cLabel>File</label>
        <input cFormControl
               type="file"
               name="document-file"
               accept=".pdf, .doc, .docx, .xls, .xlsx, .jpeg, .jpg, .png, .mp4, .hevc, .avi"
               (change)="documentSelected($event)"/>
        <div cFormText>
          <small>We only support PDF, DOCX, JPG, PNG, MP4, HEVC, AVI and XLSX files</small>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton
            color="secondary"
            [disabled]="isUploadingDoc"
            (click)="dismissDocumentModal()">
      Close
    </button>
    <button cButton color="success"
            [disabled]="isUploadingDoc"
            (click)="uploadDocument()">
      Upload Document
    </button>
  </c-modal-footer>
</c-modal>

<c-modal backdrop="static" [(visible)]="isTransitionModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Change Issue Status</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <c-alert
        fade
        dismissible
        color="danger"
        [(visible)]="hasError">
        {{ errorMessage }}
      </c-alert>

      <ng-container *ngIf="issue?.status === 'Validated'">
        <div class="mb-3">
          <label cLabel>Repairer Name:</label>
          <input cFormControl
                 name="issue-repairer-name"
                 [(ngModel)]="transitionPayload.repairerName"/>
        </div>
        <div class="mb-3">
          <label cLabel>Repairer Phone Number:</label>
          <input cFormControl
                 name="issue-repairer-name"
                 type="tel"
                 [(ngModel)]="transitionPayload.repairerPhoneNumber"/>
        </div>
      </ng-container>

      <div class="mb-3">
        <label cLabel>Notes:</label>
        <textarea cFormControl
                  rows="4"
                  name="issue-notes"
                  [(ngModel)]="transitionPayload.notes"></textarea>
        <div cFormText>
          <small>Any details you'd like to associate with this status change</small>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton
            color="secondary"
            [disabled]="isTransitioning"
            (click)="dismissTransitionModal()">
      Cancel
    </button>
    <button cButton color="success"
            [disabled]="isTransitioning"
            (click)="transitionIssue()">
      Update Status
    </button>
  </c-modal-footer>
</c-modal>

<c-modal backdrop="static" [(visible)]="isDuplicateModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Mark As Duplicate</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <c-alert
        fade
        dismissible
        color="danger"
        [(visible)]="hasError">
        {{ errorMessage }}
      </c-alert>

      <div class="mb-3">
        <label cLabel>Notes:</label>
        <textarea cFormControl
                  rows="4"
                  name="issue-notes"
                  [(ngModel)]="transitionPayload.notes"></textarea>
        <div cFormText>
          <small>Any details you'd like to associate with this status change</small>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton
            color="secondary"
            [disabled]="isTransitioning"
            (click)="dismissDuplicateModal()">
      Cancel
    </button>
    <button cButton color="success"
            [disabled]="isTransitioning"
            (click)="markAsDuplicate()">
      Mark As Duplicate
    </button>
  </c-modal-footer>
</c-modal>
