<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
    <table>
        <tr>
            <td>
                <div class="text" style="padding: 0 2.5em; text-align: center;">
                    <h2>Hey {{FirstName}},</h2>
                    <br/>
                    <h3>Heard you forgot your password, we all do that some times.</h3>
                    <h3>Here is the link to get you started on resetting your password. Take note that it expires in 48 hours so
                        get resetting quickly.</h3>
                    <p style="font-size: 25px; font-weight: bolder;"><b>{{ResetUrl}}</b></p>
                </div>
            </td>
        </tr>
    </table>
</td>