<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
    <table>
        <tr>
            <td>
                <div class="text" style="padding: 0 2.5em; text-align: center;">
                    <h2>Hey {{FirstName}},</h2>
                    <br/>
                    <h3>Yay! Your password has been successfully reset.</h3>
                    <h3>Now you can login to your account with your new password.</h3>
                </div>
            </td>
        </tr>
    </table>
</td>