<h2 class="auth-header">RESET PASSWORD</h2>
<form cForm>
  <c-alert
    fade
    dismissible
    color="danger"
    [(visible)]="hasError">
    {{ errorMessage }}
  </c-alert>

  <div class="mb-3">
    <label cLabel>Password</label>
    <input cFormControl name="password" type="password" [(ngModel)]="payload.password">
    <span cFormText>
      Your password must be 8-20 characters long, contain letters and numbers, and must not
      contain spaces, special characters, or emoji.
    </span>
  </div>
  <div class="mb-3">
    <label cLabel>Confirm Password</label>
    <input cFormControl name="confirm-password" type="password" [(ngModel)]="payload.confirmPassword">
  </div>

  <div class="auth-action-row">
    <button cButton
            color="primary"
            [disabled]="isBusy"
            (click)="resetPassword()">
      Reset Password
    </button>
  </div>
</form>

