<h2 class="auth-header">FORGOT PASSWORD</h2>
<form cForm>
  <c-alert
    fade
    dismissible
    color="danger"
    [(visible)]="hasError">
    {{ errorMessage }}
  </c-alert>

  <c-alert
    fade
    color="success"
    [(visible)]="isSuccess">
    A reset URL has been sent to your email address if an account was found. Check your email account.
  </c-alert>

  <div class="mb-3">
    <label cLabel>Email Address</label>
    <input cFormControl name="email-address" type="email" [(ngModel)]="payload.emailAddress">
  </div>

  <div class="auth-action-row">
    <button cButton
            color="primary"
            [disabled]="isBusy"
            (click)="requestReset()">
      Request Reset Code
    </button>
  </div>
</form>

