<div>
  <c-header>
    <div class="facility-header-row">
      <button cButton variant="ghost" color="dark" (click)="goBack()">
        <svg [cIcon]="icons.cilArrowLeft"></svg>
        Back
      </button>
      <h3>Facility Details</h3>
    </div>
  </c-header>

  <div class="loading" *ngIf="isLoading">
    <c-spinner color="primary" variant="grow"></c-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="!facility">
      <c-callout color="danger">
        The facility you are trying to view does not exist or you do not have permissions to view it.
      </c-callout>
    </ng-container>

    <ng-container *ngIf="facility">
      <c-container>
        <ng-container *ngIf="facility.location">
          <div class="facility-image"
               leaflet
               [leafletOptions]="getMapOptions(facility)">
          </div>
        </ng-container>
        <ng-container *ngIf="!facility.location">
          <img class="facility-image"
               src="/assets/images/no-location.png">
        </ng-container>

        <div class="facility-name">{{ facility.name }}</div>
        <div class="facility-address">{{ facility.address }}</div>

        <ng-container *ngIf="facility.tenant">
          <div class="tenant">
            <header>Tenant Details</header>
            <div>Name: <span>{{ facility.tenant.name }}</span></div>
            <div>Email: <span>{{ facility.tenant.emailAddress }}</span></div>
            <div>Phone: <span>{{ facility.tenant.phoneNumber || 'N/A' }}</span></div>
            <div>Tenancy Started At: <span>{{ facility.tenant.startsAt | date: 'dd MMM, yyyy' }}</span></div>
            <div>Tenancy Ends At: <span>{{ facility.tenant.endsAt | date: 'dd MMM, yyyy' }}</span></div>
          </div>
        </ng-container>
      </c-container>

      <c-container>
        <c-header>
          <h5>Issues</h5>
        </c-header>

        <div class="action-row" *ngIf="facility.isTenant">
          <button cButton>
            <svg [cIcon]="icons.cilNoteAdd"></svg>
            Report Issue
          </button>
        </div>

        <ng-container *ngIf="!issues.length">
          <c-callout color="success">
            No issues have been reported on this facility.
          </c-callout>
        </ng-container>

        <ng-container *ngIf="issues.length">
          <table cTable [striped]="true">
            <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Title</th>
              <th scope="col">Summary</th>
              <th scope="col">Status</th>
              <th scope="col">Reported At</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let issue of issues">
              <tr>
                <th scope="row">{{ issue.code }}</th>
                <td>{{ issue.title | truncate: 25 : { trailingString: '...' } }}</td>
                <td>{{ issue.details | truncate: 75 : { trailingString: '...' } }}</td>
                <td>
                  <c-badge [color]="issue.status === 'Repaired' ? 'success' : 'info'">
                    {{ issue.status }}
                  </c-badge>
                </td>
                <td>{{ issue.filedAt | date : 'MMM d, y h:mma' }}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>
      </c-container>

      <c-container>
        <c-header>
          <h5>Documents</h5>
        </c-header>

        <div class="action-row" *ngIf="!facility.isTenant">
          <button cButton (click)="showDocumentModal()">
            <svg [cIcon]="icons.cilCloudUpload"></svg>
            Upload Document
          </button>
        </div>

        <ng-container *ngIf="!documents.length">
          <c-callout color="success">
            No documents have been uploaded for this facility.
          </c-callout>
        </ng-container>

        <ng-container *ngIf="documents.length">
          <table cTable [striped]="true">
            <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">Type</th>
              <th scope="col">Size</th>
              <th scope="col">Uploaded At</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let document of documents">
              <tr>
                <td>{{ document.fileName }}</td>
                <td>{{ document.type }}</td>
                <td>{{ document.fileSize | filesize }}</td>
                <td>{{ document.createdAt | date : 'MMM d, y h:mma' }}</td>
                <td>
                  <button cButton
                          color="dark"
                          variant="ghost"
                          cPopover="Download File"
                          cPopoverPlacement="left"
                          [cPopoverTrigger]="'hover'"
                          (click)="downloadFile(document)">
                    <svg [cIcon]="icons.cilCloudDownload" size="lg"></svg>
                  </button>
                  |
                  <button cButton color="danger" variant="ghost"
                          [cPopover]="popoverHtml" cPopoverPlacement="bottom" [cPopoverTrigger]="'click'">
                    <svg [cIcon]="icons.cilTrash" size="lg"></svg>
                  </button>
                  <ng-template #popoverHtml>
                    <h3 class="popover-header">
                      Confirm Delete
                    </h3>
                    <div class="popover-body">
                      <p>Are you sure you want to delete this file? This action is permanent and cannot be reversed!</p>
                      <div style="text-align: end">
                        <c-button-group size="sm" style="text-align: end">
                          <button cButton color="secondary">Cancel</button>
                          <button cButton color="danger" (click)="deleteDocument(document)">Proceed</button>
                        </c-button-group>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>
      </c-container>
    </ng-container>
  </ng-container>
</div>

<c-modal backdrop="static" [(visible)]="isNewDocModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Add Facility Document</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <c-alert
        fade
        dismissible
        color="danger"
        [(visible)]="hasError">
        {{ errorMessage }}
      </c-alert>

      <div class="mb-3">
        <label cLabel>Document Type</label>
        <select cSelect name="document-type" class="mb-3" [(ngModel)]="newDocPayload.type">
          <option value="Affidavit">Affidavit</option>
          <option value="TenancyAgreement">Tenancy Agreement</option>
          <option value="TenantInformationSheet">Tenant Information</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="mb-3">
        <label cLabel>File</label>
        <input cFormControl
               type="file"
               name="document-file"
               accept=".pdf, .doc, .docx, .xls, .xlsx, .jpeg, .jpg, .png"
               (change)="documentSelected($event)"/>
        <div cFormText>
          <small>We only support PDF, DOCX, JPG, PNG and XLSX files</small>
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton
            color="secondary"
            [disabled]="isUploadingDoc"
            (click)="dismissDocumentModal()">
      Close
    </button>
    <button cButton color="success"
            [disabled]="isUploadingDoc"
            (click)="uploadDocument()">
      Upload Document
    </button>
  </c-modal-footer>
</c-modal>
