<div>
  <c-header>
    <h3>Facility Details</h3>
  </c-header>

  <div class="loading" *ngIf="isLoading">
    <c-spinner color="primary" variant="grow"></c-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="!facility">
      <c-callout color="danger">
        The facility you are trying to view does not exist or you do not have permissions to view it.
      </c-callout>
    </ng-container>

    <ng-container *ngIf="facility">
      <c-container>
        <ng-container *ngIf="facility.location">
          <div class="facility-image"
               leaflet
               [leafletOptions]="getMapOptions(facility)">
          </div>
        </ng-container>
        <ng-container *ngIf="!facility.location">
          <img class="facility-image"
               src="/assets/images/no-location.png">
        </ng-container>

        <div class="facility-name">{{ facility.name }}</div>
        <div class="facility-address">{{ facility.address }}</div>

        <c-header>
          <h5>Issues</h5>
        </c-header>

        <c-header>
          <h5>Documents</h5>
        </c-header>
      </c-container>
    </ng-container>
  </ng-container>
</div>
