.loading {
  margin-top: 2rem;
  text-align: center;
}


.facility-name {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.facility-address {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: gray;
}

.facility-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.facility-header-row {
  display: flex;
  align-items: center;

  button {
    margin-right: 1rem;
  }
}

.tenant {
  font-size: 0.9rem;

  header {
    font-size: 1.1rem;
    font-weight: bold;
  }

  div {
    font-weight: bold;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;

    span {
      font-weight: normal;
    }

    &:last-child {
      margin-bottom: 1.2rem;
    }
  }
}
