<div>
  <c-header>
    <h3>Profile</h3>
  </c-header>

  <div class="loading" *ngIf="isLoading">
    <c-spinner color="primary" variant="grow"></c-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <div class="user-action-row">
      <c-button-group>
        <button cButton color="success" variant="outline"
                (click)="showUpdateProfileModal()">
          Update Profile
        </button>
        <button cButton color="warning" variant="outline"
                (click)="showUpdatePasswordModal()">
          Change Password
        </button>
        <button cButton color="danger" variant="outline">
          Delete Account
        </button>
      </c-button-group>
    </div>

    <div class="profile-details">
      <div class="id">
        Id:
        <span>
          {{ user.id }}
        </span>
      </div>
      <div class="entry">
        First Name:
        <span>
          {{ user.firstName || '(Not Available)' }}
        </span>
      </div>
      <div class="entry">
        Last Name:
        <span>
          {{ user.lastName || '(Not Available)' }}
        </span>
      </div>
      <div class="entry">
        Email Address:
        <span>
          {{ user.emailAddress }}
        </span>
      </div>
      <div class="entry">
        Phone Number:
        <span>
          {{ user.phoneNumber || '(Not Available)' }}
        </span>
      </div>
      <div class="entry">
        Joined At:
        <span>
          {{ user.joinedAt | date: 'dd MMM, yyyy hh:mm' }}
        </span>
      </div>
    </div>
  </ng-container>
</div>

<c-modal [(visible)]="isUpdateProfileModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Update Profile</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel>First Name</label>
        <input cFormControl name="first-name" [(ngModel)]="updateProfilePayload.firstName">
      </div>
      <div class="mb-3">
        <label cLabel>Last Name</label>
        <input cFormControl name="last-name" [(ngModel)]="updateProfilePayload.lastName">
      </div>
      <div class="mb-3">
        <label cLabel>Email Address</label>
        <input cFormControl name="email-address" disabled [(ngModel)]="updateProfilePayload.emailAddress">
      </div>
      <div class="mb-3">
        <label cLabel>Phone Number</label>
        <input cFormControl name="phone-number" type="tel" [(ngModel)]="updateProfilePayload.phoneNumber">
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton color="secondary" (click)="dismissUpdateProfileModal()">
      Close
    </button>
    <button cButton color="success" [disabled]="isUpdatingProfile" (click)="updateProfile()">Update Profile</button>
  </c-modal-footer>
</c-modal>

<c-modal [(visible)]="isUpdatePasswordModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Change Password</h5>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel>Current Password</label>
        <input cFormControl name="current-password" type="password" [(ngModel)]="updatePasswordPayload.currentPassword">
      </div>
      <div class="mb-3">
        <label cLabel>Current Password</label>
        <input cFormControl name="password" type="password" [(ngModel)]="updatePasswordPayload.password">
      </div>
      <div class="mb-3">
        <label cLabel>Current Password</label>
        <input cFormControl name="confirm-password" type="password" [(ngModel)]="updatePasswordPayload.confirmPassword">
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton color="secondary" (click)="dismissUpdatePasswordModal()">
      Close
    </button>
    <button cButton color="success" [disabled]="isUpdatingPassword" (click)="updatePassword()">Change Password</button>
  </c-modal-footer>
</c-modal>
