@import "@coreui/coreui/scss/coreui";

body {
  font-family: 'Quicksand', sans-serif;
}

.form-label {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

.brand-logo {
  width: 4rem;
  height: 4rem;
}

.action-row {
  margin-top: 1rem;
  margin-right: 0.5rem;
  text-align: end;
}
