<div>
  <c-header>
    <h3>Facilities</h3>
  </c-header>

  <c-container>
    <div class="action-row">
      <button cButton (click)="showNewFacilityModal()">
        <svg [cIcon]="icons.cilPlus"></svg>
        New Facility
      </button>
    </div>

    <ng-container *ngIf="!facilities.length">
      <c-callout color="warning">
        You have not created or been added to any facilities. Feel free to create one.
      </c-callout>
    </ng-container>

    <ng-container *ngIf="facilities.length">
      <c-row [gutter]="4">
        <c-col [xs]="4" [sm]="6" *ngFor="let facility of facilities">
          <c-card class="facility-card">
            <ng-container *ngIf="facility.location">
              <div cCardImg="top"
                   class="map"
                   leaflet
                   [leafletOptions]="getMapOptions(facility)">
              </div>
            </ng-container>
            <ng-container *ngIf="!facility.location">
              <img cCardImg="top" class="no-location-img" src="/assets/images/no-location.png">
            </ng-container>

            <c-card-header>
              <h5>{{ facility.name }}</h5>
            </c-card-header>
            <c-card-body>
              <p cCardText>
                <span style="font-weight: bold">Address:</span> {{ facility.address }}
              </p>
              <button cButton (click)="goToDetails(facility.id)">Details</button>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </ng-container>
  </c-container>
</div>

<c-modal [(visible)]="isNewModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Add Facility</h5>
    <button cButtonClose (click)="dismissNewFacilityModal()"></button>
  </c-modal-header>

  <c-modal-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel>Facility Name</label>
        <input cFormControl name="name" [(ngModel)]="newFacilityPayload.name">
        <div cFormText>
          <small>Ideally this should be a unique name to identify the property</small>
        </div>
      </div>
      <div class="mb-3">
        <label cLabel>Facility Address</label>
        <input cFormControl name="address" [(ngModel)]="newFacilityPayload.address">
      </div>
      <div class="mb-3">
        <label cLabel>Facility Location</label>
        <div class="map"
             leaflet
             [leafletLayers]="newFacilityMapLayers"
             [leafletOptions]="getNewFacilityMapOptions()"
             (leafletClick)="mapClicked($event)">
        </div>
      </div>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button cButton color="secondary" (click)="dismissNewFacilityModal()">
      Close
    </button>
    <button cButton color="success" (click)="createFacility()">Create Facility</button>
  </c-modal-footer>
</c-modal>
