.facility-card {
  margin: 2rem 0.5rem;
}

.map {
  height: 15rem;
}

.no-location-img {
  height: 15rem;
  object-fit: cover;
}

.action-row {
  margin-top: 2rem;
  margin-right: 0.5rem;
  text-align: end;
}
