<h2 class="header">REGISTER</h2>
<div class="entry">
  <ngl-input label="First Name" >
    <input ngl type="text" placeholder="e.g John" [(ngModel)]="payload.firstName">
  </ngl-input>
</div>
<div class="entry">
  <ngl-input label="Last Name" >
    <input ngl type="text" placeholder="e.g Smith" [(ngModel)]="payload.lastName">
  </ngl-input>
</div>
<div class="entry">
  <ngl-input label="Email address" >
    <input ngl type="email" required  placeholder="e.g example@email.com" [(ngModel)]="payload.emailAddress">
  </ngl-input>
</div>
<div class="entry">
  <ngl-input label="Password" >
    <input ngl type="password" required [(ngModel)]="payload.password">
  </ngl-input>
</div>
<div class="entry">
  <ngl-input label="Confirm Password" >
    <input ngl type="password" required [(ngModel)]="payload.confirmPassword">
  </ngl-input>
</div>
<a routerLink="/auth/login">Already have an account? Sign in!</a>
<div class="action">
  <button type="button" nglButton variant="brand"
          [iconName]="isBusy ? 'utility:spinner' : ''"
          [disabled]="isBusy"
  (click)="register()">Register</button>
</div>
