<h2 class="header">REGISTER</h2>
<form cForm>
  <div class="mb-3">
    <label cLabel for="firstName">First Name</label>
    <input cFormControl id="firstName" type="text">
  </div>
  <div class="mb-3">
    <label cLabel for="lastName">Last Name</label>
    <input cFormControl id="lastName" type="text">
  </div>
  <div class="mb-3">
    <label cLabel for="emailAddress">Email Address</label>
    <input cFormControl id="emailAddress" type="email">
    <div cFormText>
      We'll never share your email with anyone else
    </div>
  </div>
  <div class="mb-3">
    <label cLabel for="password">Password</label>
    <input cFormControl id="password" type="password">
    <span cFormText>
      Your password must be 8-20 characters long, contain letters and numbers, and must not
      contain spaces, special characters, or emoji.
    </span>
  </div>
  <div class="mb-3">
    <label cLabel for="confirmPassword">Confirm Password</label>
    <input cFormControl id="confirmPassword" type="password">
  </div>
  <a routerLink="/auth/login">Already have an account? Sign in!</a>
  <div class="action">
    <button cButton
            color="primary"
            [disabled]="isBusy"
            (click)="register()">Register
    </button>
  </div>
</form>
